/.cli
.env
.log
/game-docs
/game-docs/**
/logs
/vendor
/node_modules
/output
/logs
/logs/**
/cache/**
/cache
composer.lock
.phpunit.result.cache
php-server-*.log
src/.cache/
bootstrap/cache/*.php
/itens
/game-docs
/game-docs/**
/public/assets/game
/public/assets/game/**
/public/assets/vendor
/docs
/database
/tests
/tools